#Toolbar {
  position: fixed;
  top: 16px;
  right: 16px;
  background: $oc-gray-3;
  text-align: center;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  i {
    box-sizing: border-box;
    display: block;
    width: 64px;
    line-height: 64px;
    font-size: 2.5em;
    cursor: pointer;

    &:hover {
      background: $oc-gray-5;
    }
  }

  a {
    text-decoration: none;
  }
}

#text-input {
  position: fixed;
  top: -64px;
}
